html {
  background-color: rgb(15, 15, 15); 
 }

#container {
  background-color:  #939faa;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin: 2rem auto;
  max-width: 90%;
  width: 1200px;
}
#header {
  display: flex; 
  align-items: center; 
  height: 110px;
  justify-content: space-between;
  color:rgb(223, 23, 23);
  text-shadow: 5px 5px 3px rgb(37, 37, 37);
}

#header img {
  height: 100px;
  margin-left: 25px;
  width: 100px;
}

#header h1 {
  padding-left: 30px;
  font-family: 'Michroma', sans-serif;
  font-size: 40px;
  text-shadow: 5px 5px 3px rgb(37, 37, 37);
} 

#header a {
  text-decoration: none;
  color: rgb(223, 23, 23);
}

#header ul {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: 1rem;
 }

#header li {
  font-size: 1rem;
  font-family: 'Michroma', sans-serif;
  list-style-type: none;
  padding-left: none;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

#header li:hover {
  opacity: 0.3;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  
}
.grid-item {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.hero {
  grid-column: 1/-1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    url("../images/coding-screens.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  color: #FFF;
  font-family: 'Prosto One', cursive;
  text-align: center;
  margin: 5rem;
}
.hero-text a {
  color: #FFF;
  text-decoration: none;
}

.hero-text a:hover {
  color:rgb(223, 23, 23);
}

#article {
  font-family: 'Courier New', Courier, monospace;
}

#content img {
  border: 4px solid #444;
    border-radius: 50%;
    justify-content: center;
    margin-top: 25px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    
    height: 225px;
    width: 225px;
}

#content article {
  height: 25px;
  margin-top: 20px;
}

#content p {
  margin: 15px;
  padding-left: 50px;
  padding-right: 50px;
}

#content h2{
  color:rgb(223, 23, 23);
  text-align: center;
  font-size: 30px;
}

#content p {
  display: flex;
  font-family: 'Lato', sans-serif;
  text-align: justify;
  margin: 25px;
  justify-content: center;
}
#content a{
  color: rgb(7, 7, 7);
  text-decoration: none;
  padding-left: 5px;
  }

/* #content a:visited { */

  #content a:hover {
    color:rgb(223, 23, 23);
  }

#Projects {
  color:rgb(223, 23, 23);
  font-size: 30px;
  text-align: center;
}

  .project-links a{
    font-size: 0.8em;
    text-decoration: none;
  }

  .project-links a:visited {
    color: inherit;
  }

  .project-links a:hover {
    color: rgb(223, 23, 23);
  }

.fa {
  padding: 10px;
  font-size: 8px;
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
    opacity: 0.3;
    }

.fa-envelope {
      background: #638494;
      color: white;
      /* font-size: 24px; */
    }

.fa-linkedin {
  background: #007bb5;
  color: white;
}

 .fa-github {
  background: #000;
  color: white;
}

#footer {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  }