#container {
  background-color: #ccc;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin: 2rem auto;
  max-width: 90%;
  width: 1200px;
}
#header {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  color: #8B0000;
}

#header h1 {
  padding-left: 30px;
  font-family: 'Michroma', sans-serif;
  font-size: 40px;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
} 

#header ul {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: .5rem;
 }

#header li {
  font-size: 1.5rem;
  font-family: 'Michroma', sans-serif;
  list-style-type: none;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

#header li:hover {
  opacity: 0.7;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}

.hero {
  grid-column: 1/-1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(https://images.unsplash.com/photo-1523712999610-f77fbcfc3843?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=483e72cc532caf940f4885ba2e9e9418&auto=format&fit=crop&w=500&q=60);
  height: 310px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  color: #FFF;
  text-align: center;
  margin: 5rem;
}
.content img {
  border: 4px solid #444;
    border-radius: 50%;
    padding: 5px;
    margin: 15px;
    height: 150px;
    width: 150px;
}

.content p {
  font-family: 'Lato', sans-serif;
  text-align: justify;
  margin: 15px;
}

.fa {
  padding: 10px;
  font-size: 8px;
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
    opacity: 0.7;
    }

.fa-linkedin {
  background: #007bb5;
  color: white;
}

 .fa-github {
  background: #000;
  color: white;
}

#footer {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  }