#container {
  background-color: rgb(172, 164, 164);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin: 2rem auto;
  max-width: 90%;
  width: 1200px;
}
#header {
  display: flex; 
  align-items: center; 
  height: 110px;
  justify-content: space-between;
  margin-left: 25px;
  color:rgb(182, 5, 5);
}

#header img {
  height: 100px;
  width: 100px;
}

#header h1 {
  padding-left: 30px;
  font-family: 'Michroma', sans-serif;
  font-size: 40px;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
} 

#header a {
  text-decoration: none;
  color: rgb(223, 23, 23);
}

#header ul {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: .5rem;
 }

#header li {
  font-size: 1.25rem;
  font-family: 'Michroma', sans-serif;
  list-style-type: none;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

#header li:hover {
  opacity: 0.7;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-item {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  text-align: center;
}

.hero {
  grid-column: 1/-1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    url("../images/coding-screens.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  color: #FFF;
  font-family: 'Prosto One', cursive;
  text-align: center;
  margin: 5rem;
}
.content img {
  border: 4px solid #444;
    border-radius: 50%;
    padding: 5px;
    margin: 15px;
    height: 175px;
    width: 175px;
}

.content p {
  display: flex;
  font-family: 'Lato', sans-serif;
  text-align: justify;
  margin: 20px;
  justify-content: center;
}
.content a{
  color: rgb(7, 7, 7);
  text-decoration: none;
  padding-left: 5px;
  }

  .content a:visited {
    color: inherit;
  }

  .content a:hover {
    color: rgb(182, 5, 5);
  }

.fa {
  padding: 10px;
  font-size: 8px;
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
    opacity: 0.5;
    }

.fa-envelope {
      background: #638494;
      color: white;
      /* font-size: 24px; */
    }

.fa-linkedin {
  background: #007bb5;
  color: white;
}

 .fa-github {
  background: #000;
  color: white;
}

#footer {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  }